{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Resultados da pesquisa{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>"{{ search.expr }}"</h2>
  <p>
    <table>
        <tr>
            <th><b>Espaço Id</b></th>
            <th><b>Nome</b></th>
        </tr>
        
        {% for espaco in espacos %}      
        <tr>
            <td><a href="/espacos/{{ espaco.EspacoId }}">{{ espaco.EspacoId }}</a></td>
            <td>{{ espaco.Nome }}</td>
        </tr>
        {% endfor %}
    </table>
  </p>
{% endblock %}