{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Espaços{% endblock %}</h1>
{% endblock %}

{% block content %}
  <table> 
  <tr>
    <th><b>Espaço Id</b></th>
    <th><b>Nome</b></th>
    <th><b>Tipo</b></th>
    <th><b>Lotação</b></th>
    <th><b>Morada</b></th>
    <th><b>Região Id</b></th>
   </tr>
   
  {% for espaco in espacos %}
    <tr>
      <td><a href="/espacos/{{ espaco.EspacoId }}">{{ espaco.EspacoId }}</a></td>
      <td>{{ espaco.Nome }}</td>
      <td>{{ espaco.Tipo }}</td>
      <td>{{ espaco.Lotacao }}</td>
      <td>{{ espaco.Morada }}</td>
      <td><a href="/regioes/{{ espaco.RegiaoId }}">{{ espaco.RegiaoId }}</a></td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}
