{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{{ espaco.Nome }} {% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Informação sobre o espaço</h2>
  <p>
    <b>Espaço Id: </b>{{ espaco.EspacoId }}
  </p>
  <p>
    <b>Nome: </b>{{ espaco.Nome }}
  </p>
  <p>
    <b>Tipo: </b>{{ espaco.Tipo }}
  </p>
  <p>
    <b>Lotação: </b>{{ espaco.Lotacao }}
  </p>
  <p>
    <b>Morada: </b>{{ espaco.Morada }}
  </p>
  <p>
    <b>Região: </b><a href="/regioes/{{ espaco.RegiaoId }}">{{ espaco.RegiaoId }}</a>
  </p>

  <h2>Atividades que o espaço pode acolher</h2>
  <ul>
    {% for atv in atividades %}
      <li><a href="/atividades/{{ atv.AtividadeId }}">{{ atv.Nome }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
